<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="{{root}}aigis_assets/css/highlight/okadia.css" rel="stylesheet">
    <link href="{{root}}aigis_assets/css/theme.css" rel="stylesheet">
    <link href="{{root}}css/pc-L25.css" rel="stylesheet" id="theme">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{{root}}aigis_assets/js/main.js"></script>
    <script src="{{root}}aigis_assets/js/pc.js"></script>
    <script src="{{root}}aigis_assets/js/sp.js"></script>
  </head>
<body>
  {{!--<p>
    <input id="previewWidth" type="range" min="600" max="1300" step="10" value="800" list="widthScale" />
    <span id="showWidthArea">0</span>
  </p>

  <datalist id="widthScale">
    <option>320</option>
    <option>375</option>
    <option>425</option>
    <option>600</option>
    <option>740</option>
    <option>780</option>
    <option>980</option>
    <option>1100</option>
  </datalist>--}}
  <div class="aigis-container code-is-closed sidemenu-is-closed" id="toggle">
    <header class="aigis-header">
      <a href="{{root}}index.html">{{config.name}}</a>
    </header>
    <button id="sidemenu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <button id="code-toggle"><i class="fa fa-code" aria-hidden="true"></i></button>
    <button id="view-toggle"></button>
    <button id="ratio-toggle"></button>
    <select id="width-menu">
      <option value="all">hd/ft</option>
      <option value="main" selected="">main</option>
      <option value="sub">sub</option>
    </select>
    {{include "./sidemenu"}}
    <div class="aigis-contents">
      <div class="aigis-contents__body mod-body">
        <div class="area-all">
          {{include "./components"}}
          <footer class="aigis-footer">Last update at {{timestamp}}</footer>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
